<div class="container">
    @if (dataSource() != null && dataSource().length > 0) {
    <div class="mb-4">
        <input type="text" class="w-100 form-control mt-4" [value]="postSearch()"
            (input)="postSearch.set($any($event.target).value)" placeholder="Search">
    </div>
    <div>
        <table class="table table-striped" style="min-height: 500px;">
            <thead>
                <tr>
                    @for (item of displayedColumns; track $index) {
                    <th scope="col">{{item}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (item of pagedPosts(); track $index) {<tr>
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.body}}</td>
                    <td>{{item.userId}}</td>
                </tr>}
            </tbody>
        </table>
    </div>
    <div class="p-3 bg-white d-flex justify-content-end">
        <div class="d-flex align-items-center me-3">
            <p class="me-2 mb-0 ">Items per page:</p>
            <select class="form-select" style="width: 100px;" (change)="selectoinChanged($event)"
                aria-label="Default select example">
                <option selected [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="20">20</option>
            </select>
        </div>
        <div class="d-flex align-items-center">
            <p class="mb-0 me-3">{{currentPage() * pageSize() + 1}} - 
                @if (currentPage() == totalPages() -1) {
                {{filteredPosts().length}}
                }
                @else {
                {{currentPage() * pageSize() + pageSize()}}
                }
                of {{filteredPosts().length}}</p>
            <div>
                <button class="btn" (click)="goToFirstPage()" [disabled]="currentPage() == 0" id="leftAll">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
                    </svg>
                </button>
                <button id="leftOne" (click)="decrementPage()" [disabled]="currentPage() == 0" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </button>
                <button id="roghtOne" (click)="incrementPage()" [disabled]="this.currentPage() == this.totalPages() -1"
                    class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </button>
                <button class="btn" (click)="goToLastPage()" [disabled]="currentPage() == totalPages() -1" id="rightAll">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    }@else {
    <div class="alert mt-4 alert-info text-center">
        There are no posts available
    </div>
    }
</div>